adf/pipeline/Dynamic_Automated Git_Adls.json
{
	"name": "Dynamic_Automated Git_Adls",
	"properties": {
		"activities": [
			{
				"name": "git content",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://api.github.com/repos/Priya2021-ai/my-first-app/contents/"
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "git content",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@json(activity('git content').output.Response)",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Dynamic_Automated Git_Adls",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_automated_git_Source",
									"type": "DatasetReference",
									"parameters": {
										"p_git_automated_rel_url": {
											"value": "@replace(item().download_url,'https://raw.githubusercontent.com/','')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_automated_adls_Sink",
									"type": "DatasetReference",
									"parameters": {
										"p_automated_folder": {
											"value": "@substring(item().name,0,lastIndexOf(item().name, '.'))",
											"type": "Expression"
										},
										"p_automated_filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-03-27T11:23:24Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}